<form [formGroup]="form" (ngSubmit)="saveData()">
  <div class="card flex flex-column flex-wrap p-fluid">
    <h5 class="mb-3 font-italic font-light">
      Preencha as informações da criptomoeda para edição:
    </h5>

    <div class="flex flex-wrap">
      <div class="col-12 lg:col-6">
        <label class="font-semibold" for="ativo">Ativo</label>
        <input
          type="text"
          pInputText
          formControlName="ativo"
          placeholder="Digite o nome da criptomoeda"
          class="mt-2" />
      </div>

      <div class="col-12 lg:col-6">
        <label class="font-semibold" for="simbolo">Simbolo</label>
        <input
          type="text"
          pInputText
          formControlName="simbolo"
          placeholder="Ex: BTC"
          class="mt-2" />
      </div>
    </div>

    <div class="flex flex-wrap">
      <div class="col-12 lg:col-4">
        <label class="font-semibold" for="quantidade">Quantidade comprada</label>
        <input
          type="number"
          pInputText
          formControlName="quantidade"
          placeholder="00000000.12"
          class="mt-2" />
      </div>

      <div class="col-12 lg:col-4">
        <label class="font-semibold" for="valorPago">Valor pago</label>
        <input
          type="number"
          pInputText
          formControlName="valorPago"
          placeholder="Digite o valor pago na compra"
          class="mt-2" />
      </div>

      <div class="col-12 lg:col-4">
        <label class="font-semibold" for="valorAtual">Valor atual</label>
        <input
          type="number"
          pInputText
          formControlName="valorAtual"
          placeholder="Digite o valor atual do ativo"
          class="mt-2" />
      </div>
    </div>

    <div class="flex flex-wrap">
      <div class="col-12 lg:col-4">
        <label class="font-semibold" for="dataCompra">Data da compra</label>
        <input type="date" pInputText formControlName="dataCompra" class="mt-2" />
      </div>
    </div>

    <div
      class="flex flex-column justify-content-center gap-3 p-fluid w-12 mt-2 sm:flex-row sm:justify-content-start sm:w-3">
      <p-button
        label="Cancelar"
        [outlined]="true"
        severity="secondary"
        routerLink="/"></p-button>

      <p-button
        type="submit"
        label="Atualizar"
        [raised]="true"
        severity="secondary"></p-button>
    </div>
  </div>
</form>
