<form [formGroup]="form" (ngSubmit)="saveData()">
  <div class="card flex flex-column flex-wrap p-fluid gap-3">
    <h5 class="mb-3">Preencha as informações da criptomoeda para edição:</h5>

    <div class="flex-auto">
      <label for="ativo">Ativo</label>
      <input
        type="text"
        pInputText
        formControlName="ativo"
        placeholder="Digite o nome da criptomoeda"
        class="mt-2" />
    </div>

    <div class="flex-auto">
      <label for="simbolo">Simbolo</label>
      <input
        type="text"
        pInputText
        formControlName="simbolo"
        placeholder="Digite o simbolo da criptomoeda. Ex: BTC, ETH, etc"
        class="mt-2" />
    </div>

    <div class="flex-auto">
      <label for="quantidade">Quantidade comprada</label>
      <input
        type="number"
        pInputText
        formControlName="quantidade"
        placeholder="Digite o total de criptomoedas que você comprou"
        class="mt-2" />
    </div>

    <div class="flex-auto">
      <label for="valorPago">Valor pago</label>
      <input
        type="number"
        pInputText
        formControlName="valorPago"
        placeholder="Digite o valor pago na compra"
        class="mt-2" />
    </div>

    <div class="flex-auto">
      <label for="valorAtual">Valor atual</label>
      <input
        type="number"
        pInputText
        formControlName="valorAtual"
        placeholder="Digite o valor atual do ativo"
        class="mt-2" />
    </div>

    <div class="flex-auto">
      <label for="valorAtual">Data da compra</label>
      <input type="date" pInputText formControlName="dataCompra" class="mt-2" />
    </div>

    <div
      class="flex flex-column justify-content-center gap-3 p-fluid w-12 mt-2 sm:flex-row sm:justify-content-start sm:w-3">
      <p-button
        label="Cancelar"
        [outlined]="true"
        severity="secondary"
        routerLink="/"></p-button>

      <p-button
        type="submit"
        label="Atualizar"
        [raised]="true"
        severity="secondary"></p-button>
    </div>
  </div>
</form>
