<form [formGroup]="form" (ngSubmit)="saveData()">
  <div class="card flex flex-column flex-wrap p-fluid gap-3">
    <h5 class="mb-3">Preencha as informações da criptomoeda:</h5>

    <div class="flex-auto">
      <label for="cpf">Nome</label>
      <input
        type="text"
        pInputText
        formControlName="ativo"
        placeholder="Digite o nome da criptomoeda"
        class="mt-2"
      />
    </div>

    <div class="flex-auto">
      <label for="nome">Simbolo</label>
      <input
        type="text"
        pInputText
        formControlName="simbolo"
        placeholder="Digite o simbolo da criptomoeda. Ex: BTC, ETH, etc"
        class="mt-2"
      />
    </div>

    <div class="flex-auto">
      <label for="dataNascimento">Total de criptomoedas:</label>
      <input
        type="number"
        pInputText
        formControlName="totalCripto"
        placeholder="Digite o total de criptomoedas que você possuí"
        class="mt-2"
      />
    </div>

    <div
      class="flex flex-column justify-content-center gap-3 p-fluid w-12 mt-2 sm:flex-row sm:justify-content-start sm:w-3"
    >
      <p-button
        label="Cancelar"
        [outlined]="true"
        severity="secondary"
      ></p-button>

      <p-button
        type="submit"
        label="Salvar"
        [raised]="true"
        severity="secondary"
      ></p-button>
    </div>
  </div>
</form>
