<div class="flex justify-content-between align-items-center mb-3">
  <h3>Adicionar criptomoedas</h3>

  <!--  <i class="pi pi-sign-out cursor-pointer text-2xl" routerLink="/"></i> -->
</div>

<form [formGroup]="form" (ngSubmit)="saveData()">
  <div class="card flex flex-column flex-wrap p-fluid gap-3">
    <h4 class="mb-3">Preencha as informações da criptomoeda:</h4>

    <div class="flex-auto">
      <label for="cpf">Nome</label>
      <input
        type="text"
        pInputText
        formControlName="criptoNome"
        placeholder="Digite o nome da criptomoeda"
        class="mt-2"
      />
    </div>

    <div class="flex-auto">
      <label for="nome">Simbolo</label>
      <input
        type="text"
        pInputText
        formControlName="criptoSimbolo"
        placeholder="Digite o simbolo da criptomoeda. Ex: BTC, ETH, etc"
        class="mt-2"
      />
    </div>

    <div class="flex-auto">
      <label for="dataNascimento">Total de criptomoedas:</label>
      <input
        type="number"
        pInputText
        formControlName="totalCripto"
        placeholder="Digite o total de criptomoedas que você possuí"
        class="mt-2"
      />
    </div>

    <div
      class="flex flex-column justify-content-center gap-3 p-fluid w-12 mt-2 sm:flex-row sm:justify-content-start sm:w-3"
    >
      <p-button
        label="Cancelar"
        [outlined]="true"
        severity="secondary"
      ></p-button>

      <p-button label="Salvar" [raised]="true" severity="secondary"></p-button>
    </div>
  </div>
</form>
