<ng-container *ngIf="crypto$ | async as criptomoedas"
  ><p-card>
    <p-table
      [value]="criptomoedas"
      [scrollable]="true"
      styleClass="w-auto"
      [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let item of tableTitles">{{ item }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cripto let-i="index">
        <tr>
          <td>{{ cripto.ativo }}</td>
          <td>{{ cripto.simbolo | uppercase }}</td>
          <td>{{ cripto.quantidade }}</td>
          <td>{{ cripto.valorPago | currency : 'BRL' }}</td>
          <td>{{ cripto.valorAtual | currency : 'BRL' }}</td>
          <td>{{ cripto.dataCompra }}</td>
          <td>{{ cripto.valorAtual * cripto.quantidade | currency : 'BRL' }}</td>

          <td class="flex" class="p-0 m-0">
            <p-button
              (click)="updateCrypto(cripto.id)"
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              severity="secondary"></p-button>
            <p-button
              (click)="deleteCrypto(cripto.id)"
              icon="pi pi-times"
              [rounded]="true"
              [text]="true"
              severity="danger"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" styleClass="w-100">
        <div class="flex justify-content-between h-1rem">
          <p>Total em criptomoedas:</p>
          <p>{{ totalValue$ | async | currency : 'BRL' }}</p>
        </div>
      </ng-template>
    </p-table>
  </p-card></ng-container
>
