<p-card styleClass="w-auto">
  <p-table [value]="criptomoedas" [scrollable]="true" scrollHeight="300px">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let item of tableTitles">{{ item }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cripto>
      <tr>
        <td>{{ cripto.ativo }}</td>
        <td>{{ cripto.simbolo | uppercase }}</td>
        <td>{{ cripto.quantidade }}</td>
        <td>{{ cripto.valorPago }}</td>
        <td>{{ cripto.totalCripto }}</td>
        <td>{{ cripto.dataCompra }}</td>
        <td>{{ bitcoinCurrent }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
